@use 'sass:math';
@import 'parts/config';

:root {
  --theme: 'light';
  --accent: var(--figma-color-bg-brand);
  --accent-hover: var(--figma-color-bg-brand-hover);
  --accent-active: var(--figma-color-bg-brand-pressed);
  --red: 227, 32, 32; // #E32020
  --br: 3px;
  accent-color: var(--accent);
  margin: 0;
  font-size: 8px;
}

* {box-sizing: border-box}

html, 
body {
	width: 100%;
	height: 100%;
	font-family: $fontfam;
	// @include theme('light');
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  font-size: font(22px, 16px, 786px, 320px);
}

a {
	text-decoration: none;
	color: darken($accent, 10%);
	font-weight: 700;
  &:hover,
  &:focus {
    border-bottom: $border-width+0px dashed #ccc;
  }
  &:visited {
    font-style: italic;
    border-bottom: $border-width+0px dashed $accent;
  }
}

svg.icon {
  color: var(--figma-color-text);
  width: auto;
  height: 1em;
}

code {
  border-radius: 2px;
  padding: 3px 5px;
  font-size: 1em;
  font-weight: 800;
  color: inherit;
  background-color: rgba(setcolor($selectedTheme, fg), .05);
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.5em;
  font-weight: 700;
  padding: $gap+0px;
  width: 100%;
  text-align: center;
}
.button,
.btn {
  $iconsize: 2;
  --btn-fg: var(--figma-color-text);
  --btn-bg: var(--figma-color-bg);

  @include buttonDefault();
  color: var(--btn-fg);
  background-color: var(--btn-bg);
  z-index: 1;

  &:focus,
  &:hover {
    --btn-bg: var(--figma-color-bg-secondary);
    outline: none;
  }
  &-primary,
  &--primary {
    --btn-fg: #fff;
    --btn-bg: var(--accent);
    &:focus,
    &:hover {
      --btn-bg: var(--accent-hover);
    }
  }
  &-secondary,
  &--secondary {
    border: 1px solid currentColor !important;
    &:focus,
    &:hover {
      --btn-bg: var(--figma-color-bg-secondary);
      border-color: var(--figma-color-bg-tertiary);
    }
  }
  &-default,
  &--default {
    color: inherit;
    user-select: none;
    border: 1px solid var(--figma-color-border);
    &:focus,
    &:hover {
      --btn-bg: var(--accent-hover);
    }
    &:not(.active) {
      outline-offset: math.div($gap, 2) - math.div($border-width,2) * 1px;
      &:focus,
      &:hover {
        outline: $border-width+0px dashed var(--figma-color-bg-tertiary);
      }
    }
  }
  &-disabled,
  &--disabled {
    pointer-events: none;
    filter: grayscale(1);
    opacity: .6;
  }
  &-square,
  &--square {
    padding: 0;
    text-align: center;
    min-width: $searchbar+0px;
    min-height: $searchbar+0px;
  }
  svg,
  img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 1em;
  }
  .icon {
    display: block;
    width: $iconsize+0em;
    height: $iconsize+0em;
    background-size: $iconsize+0em;
    flex-shrink: 0;
  }
}

.show-on-mobile {
  // display: none;
  position: absolute;
  top: -100px;
  right: -100px;
  visibility: hidden;
  opacity: 0;
  @include respond-to('mobile') {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    visibility: visible;
    opacity: 1;
  }
}
.hide-on-mobile {
  @include respond-to('mobile') {
    // display: none;
    visibility: hidden;
    opacity: 0;
  }
  display: block;
  visibility: visible;
  opacity: 1;
}

.fade-enter-active, 
.fade-leave-active {
  transition: $far $curve all;
}
.fade-enter, 
.fade-leave-to {
  opacity: 0;
}

.popup-enter-active, 
.popup-leave-active {
  transition: $near $snap all;
}
.popup-enter, 
.popup-leave-to{
  opacity: 0;
	transform: translatey(100%);
}
