$i-names: (
 'bottom-edge',
 'center-hor',
 'center-ver',
 'clear',
 'columns',
 'gutter-col',
 'gutter-row',
 'height',
 'left-edge',
 'margin-bottom',
 'margin-left',
 'margin-right',
 'margin-top',
 'right-edge',
 'rows',
 'top-edge',
 'width',
 'caret-up'
);

$i-source: (
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAGFBMVEUAAAAREREQEBARVe4RVe4RERERTNIRGS1xAHu4AAAABHRSTlMA3yDftq7/cAAAADhJREFUCNdjIAowCsCZrAFYmIKqQYJQpqhoYCCUqRgaKgRlMokGKoAZJi4u6WUuLs5gJhCAmLQCAKRSB/mBZwXyAAAAAElFTkSuQmCC', //'bottom-edge'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAElBMVEUAAAAREREQEBARVe4RVe4RERHVaExuAAAABHRSTlMA3yDftq7/cAAAADZJREFUCNdjIAowCsCZrAFYmIKqQYJQpqhoYCCUqRgaKgRmmLiAgTMyE6EAoQ1hGE7bEM4hDABVagoZychGdwAAAABJRU5ErkJggg==', // 'center-hor'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAElBMVEUAAAAREREQEBARVe4RVe4RERHVaExuAAAABHRSTlMA3yDftq7/cAAAADpJREFUCNdjwA2YDeBMFgf8TEEVJ0EoU1TEMRDKVAxxFQIzGENDQ1xDQwWQmQgFCG0IwwhbjHAkTgAAVWoKGUj7SskAAAAASUVORK5CYII=', // 'center-ver'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAALVBMVEUAAADfICDjICDkICDfICDjICDjICDjICDjICDkICDjICDiICDkICDjICDjICDxCOtxAAAADnRSTlMAEM/fIO9AgL+fr6BvX8YqiDsAAAB+SURBVAjXYyAGiNs9mgJh8ca9e/c0Asw89yKRbd0LEIslroCBxe6pAJDJ+ZKBwflRXwGQyfQMKKiYZwBk8j0ACgrIPQAxHwIFgQJAJvMzoCBDngKQyf4IKMgwbwKQyRgHFGR/6gAy2O5VgljfG7Btm0AWX4A4wlvvcSExzgYAWxkmkDIoIXQAAAAASUVORK5CYII=', // 'clear'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAgMAAADw5/WeAAAACVBMVEUAAAARERERERHaQXyTAAAAAnRSTlMA32D/An0AAAAbSURBVAjXY8AEjI6Ojg4MTE1NTQ2Uk1DTMAAAJGYaaYBuWP8AAAAASUVORK5CYII=', // 'columns'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAD1BMVEUAAAARERERVe4RERERVe5qcDHGAAAAA3RSTlMA39/qutJLAAAAIElEQVQI12MgDBgFGJgUgCSQyWzAwOIAJAeQiXAOQQAApEkIgY+NXWgAAAAASUVORK5CYII=', // 'gutter-col'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAD1BMVEUAAAARERERVe4RERERVe5qcDHGAAAAA3RSTlMA39/qutJLAAAAHUlEQVQI12MgDBiNwUAAmUkaYHIBAwUUJgLQyg0ApmUIgQ6zyA8AAAAASUVORK5CYII=', // 'gutter-row'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAgMAAADw5/WeAAAADFBMVEUAAAARERERVe4RERHVvqpAAAAAAnRSTlMA32D/An0AAAAcSURBVAjXY8AEjP///3eAkgyrVq1iwCBJV4MBAElsI2XP50xaAAAAAElFTkSuQmCC', // 'height'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAElBMVEUAAAAREREQEBARVe4RVe4RERHVaExuAAAABHRSTlMA3yDftq7/cAAAADJJREFUCNdjwAmYDeBMFgeCTCZBOFMxEMZ0EhWCMR1DQ0MFkJkIBQhtCMMIWoxwJG4AAEKEB5utXnUAAAAAAElFTkSuQmCC', // 'left-edge'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAElBMVEUAAAARVe4QVO0RERERVe4REREMUVNBAAAABHRSTlMA3yDftq7/cAAAAD1JREFUCNdjIAowCsCZLA5YmIIqToJQpoiIoyOUqejiIgRlMok4KjDAhKGCIi5g4IjMxAVMQ8EgGJlJEAAA4/wMFwhKzvkAAAAASUVORK5CYII=', // 'margin-bottom'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAElBMVEUAAAARVe4QVusRERERVe4RERFZI5rHAAAABHRSTlMA3yDftq7/cAAAADZJREFUCNdjwAGYDRgFoEzWABYHgkwmQThT0RHGdBIRgjEdXVxcBJCZCAUIbQjDCFqMcCRuAAAjsAvbIdHoSQAAAABJRU5ErkJggg==', // 'margin-left'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAElBMVEUAAAARVe4QUusRERERVe4RERHp+ulFAAAABHRSTlMA3yDftq7/cAAAADZJREFUCNdjwAMYBZgNoEwWB9YAPExBBThTRAjOVHRUgTAZXVxcRDCYCAUIbQjDCFqM7khMAAA4+AxT0KWgVQAAAABJRU5ErkJggg==', // 'margin-right'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAElBMVEUAAAARVe4QVOkRERERVe4REREFuvM7AAAABHRSTlMA3yDftq7/cAAAAD9JREFUCNdjIAxMQ8EgGJmJC4i4gIEjMhMMFIVgSphEHBWgTEUXF5iwiIijI5QpqOIkCFPM4sCAhckowEAMAAB7bQwX1WPZAQAAAABJRU5ErkJggg==', // 'margin-top'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAElBMVEUAAAAREREQEBARVe4RVe4RERHVaExuAAAABHRSTlMA3yDftq7/cAAAADJJREFUCNdjwAOYDeBMFge8TEEFOFNUCM5UDFSBMBlDQ0NF0JkIBQhtCMMIW4xwJC4AAHcCCBPHQxrAAAAAAElFTkSuQmCC', // 'right-edge'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAgMAAADw5/WeAAAACVBMVEUAAAARERERERHaQXyTAAAAAnRSTlMA32D/An0AAAAVSURBVAjXY8AEjKtWrXKAkNQWRwAAMuQR+ecVitsAAAAASUVORK5CYII=', // 'rows'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAElBMVEUAAAAREREQEBARVe4RVe4RERHVaExuAAAABHRSTlMA3yDftq7/cAAAADdJREFUCNdjoC4wcQEDZ2QmGCgKwZQwiQYqQJmKoaEwYVHRwEAoU1A1SBCmmDWAAQuTUYAoxwAAUdYH1+qW8ZcAAAAASUVORK5CYII=', // 'top-edge'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAgMAAADw5/WeAAAADFBMVEUAAAARERERVe4RERHVvqpAAAAAAnRSTlMA32D/An0AAAAcSURBVAjXY8AEjA4ijA4MzK/2rT5AOQk1DQMAAOXeJjVKtqgCAAAAAElFTkSuQmCC', // 'width'
 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMEAAADBBAMAAACEbMmvAAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAACnRSTlMAgCDfQO+/YI8wg9ByewAAAK1JREFUeNrt07ttQkEURdGLCYidEtmiixe5BlfgOohcAkUAQrdKPhOMQCI82VotbO0CAAAAAAAAAHjnp8I2xwrbnb4qa+m/ilp1Xypq393R1h9Ld/9W0LpvzhW07bv/itn0Q3CJXT8El1h6iC2x6iG3xL6HzBJjhiG2xLqH3BLbHjJLzBlSS8wZgkvMzokl5gypJeYMqSXmDKEl5gzBJb4/Xx0KAAAAAAAAAODZFTv/ic5/pdoAAAAAAElFTkSuQmCC' // caret-up
);

.gg-icons {
 display: inline-block;
 width: 20px;
 height: 20px;
 background-position: center;
 background-size: contain;
 background-repeat: no-repeat;
 flex-shrink: 0;
 @each $n in $i-names {
  $idx: index($i-names, $n);
  &--#{$n} {
   background-image: url(nth($i-source, $idx));
  }
}
}